body {
    padding-top: 70px;
}

a.navbar-brand img {
    max-width: 100px;
    margin-top: -18px;
}

.tweetHeader {
    background-color: aqua
}

.tweetContainer {
    border: black solid 1px;
    margin-bottom: 5px;
}

.navbar {
    background-color: #01a0ee
}

.navbar-default .navbar-nav > li > a {
    color: white
}